:root {
  --white: #e1e1e1;
  --poke-red: #ff0000;
  --poke-darkRed: #cc0000;
  --poke-blue: #0000a0;
  --poke-darkBlue: #020253;
  --poke-lightBlue: #2a75bb;
  --pickachu: #ffcb05;
  --yellow-shadow: #c7a008;
  --yellow-transparent: #c7a10895;
  --poke-darkGray: #444444;
  --platinum: #999999;
  --poke-silver: #c0c0c0;

  /* EXTRA COLORS */
  --alpah-sapphire: #1768d1;
  --crystal: #4fd9ff;
  --colloseum: #b6cae4;

}

.font-container {

  font-family: 'Pokemon Solid', sans-serif;
  font-family: 'Fight Side', sans-serif;
  font-family: 'Activity Saturday', sans-serif;


}

body {
  display: flex;
  place-content: center;
  background-image: url('https://cdn.creazilla.com/illustrations/1668489/space-pokemon-go-virtual-illustration-md.jpeg');
  object-fit: cover;
  z-index: -1;
}

.body-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow-transparent);
  height: auto;
  width: 90%;
  min-width: 375px;


}

a,
li {
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: var(--poke-blue);
  color: var(--pickachu);
  height: 35px;
  width: 100px;
  border-radius: 20px;
  padding: 20px;

  margin-bottom: 10px;
  border-left-color: 3px solid var(--pickachu);
  border-top-color: 3px solid var(--pickachu);

}

.btn img {
  width: 30px;
  height: 30px;
}


.add-fav-btn,
.view-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-size: 10px;
  border-left-color: 3px solid var(--pickachu);
  border-top-color: 3px solid var(--pickachu);
}